.Window{
  position: absolute;
  z-index: 1001;
  min-width: 400px;
  left: 50%;
  top: 50%;
  border-radius: 5pt;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #484C54;
  box-shadow: 2px 3px 5px #222222;
  overflow: hidden;
  text-align: center;
}
input{
  width: 60%;
  font-size: 15pt;
  line-height: 15pt;
  padding: 5pt 0;
  background-color: #484C54;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  border: 1px solid #FFFFFF77;
}
h3{
  padding-bottom: 10pt;
  border-bottom: 1px solid #FFFFFF77;
}
.SubmitButton{
  font-size: 15pt;
  width: 60%;
  padding: 10pt 0;
  border-radius: none;
  background-color: #313131;
  border: none;
  color: white;
}
.SubmitButton:hover{
  transition: 0.3s;
  background-color: #CA3E47;
}
.SubmitButton:active{
  transition: 0.1s;
  background-color: darkorange;
}
.ToggleButton{
  font-size: 13pt;
  width: 60%;
  padding: 10pt 0;
  border-radius: none;
  background-color: #313131;
  border: none;
  color: white;
}
.ToggleButton:hover{
  transition: 0.3s;
  background-color: #CA3E47;
}
.ToggleButton:active{
  transition: 0.1s;
  background-color: darkorange;
}
.ButtonDiv{
  margin-left: auto;
  margin-right: none;
  display: inline-block;
  width: 100%;
  margin: 10pt 0 20pt 0;
}
form{
  padding: 10pt 0 30pt 0;
}