button{
  border-radius: none;
  min-height: 100%;
  background-color: #313131;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 1px;
  margin-right: 1px;
}
button:hover{
  background-color: #CA3E47;
}