.ChatBoard {
  display: inline-block;
  background-color: #282c34;
  min-height: 85vh;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
