.ClientList{
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  max-height: 30vh;
  overflow-y: auto;
  background-color: #484c54;
  border: 1px solid black;
  border-radius: 5px;
  border-color: #313131;
  box-shadow: 2px 3px 3px #222222;
}
.Client{
  display: flex;
  padding: 10px;
}
.Client:not(:last-child){
  border-bottom: solid 1px #FFFFFF33;
}
.ClientId{
  margin: 0 5px 0 5px;
}
.Connection{
  align-self: center;
  margin: 0 5px 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  line-height: 100%;
}
.Connected{
  background-color: green;
}
.Disconnected{
  background-color: red;
}