*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.InputDiv{
    display: flex;
    min-height: 15%;
    background-color: #484c54;
    text-align: center;
    justify-content: center;
    padding: 5px;
}
.textarea{
    border: 1px solid white;
    background-color: #484c54;
    width: 70%;
    font-size: 15pt;
    border-radius: 5px;
    resize: none;   
    overflow: hidden;
}
