.InputBoard{
  display: flex;
  height: 10%;
  background-color: #484c54;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
.InputArea{
  color: whitesmoke;
  border: 1px solid white;
  background-color: #484c54;
  width: 70%;
  font-size: 12pt;
  border-radius: 5px;
  resize: none;   
  overflow: hidden;
}
.SendButton{
  border-radius: none;
  align-self: stretch;
  background-color: #313131;
  border: 1px white;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0.1%;
  margin-right: 0.1%;
}
.SendButton:hover{
  transition: 0.3s;
  background-color: crimson;
}
.SendButton:active{
  transition: 0.1s;
  background-color: darkorange;
}