.Window{
  position: absolute;
  min-width:20vw;
  min-height:20vh;
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
  color: white;
  background-color: #484c54;
  overflow: hidden;
  border: 1px black;
}
h2{
  padding: 10px;
  margin: none;
}