.Window{
  position: absolute;
  width: 500px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #484c54;
  overflow: hidden;
  border: 1px solid white;
  text-align: center;
}
input{
  width: 50%;
  font-size: 15pt;
  line-height: 15pt;
  padding: 5pt 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2{
  padding: 5pt;
  margin: none;
}
.LoginButton{
  font-size: 15pt;
  width: 50%;
  padding: 10pt 0;
  border-radius: none;
  background-color: #313131;
  border: none;
  color: white;
  transition: 0.3s;
}
.LoginButton:hover{
  background-color: #CA3E47;
}