.MyMessage{
  max-width: 70%;
  min-width: 10%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #484c54;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
  font-size: 12pt;
  animation-duration: 0.5s;
  
  animation-name: animate_mymessage;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e16428;
}
.OtherMessage{
  max-width: 70%;
  min-width: 10%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #484c54;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
  font-size: 12pt;
  animation-duration: 0.5s;
  
  animation-name: animate_othermessage;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #018786;
}
@keyframes animate_mymessage{
  from {
    transform: translateX(10vw);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes animate_othermessage{
  from {
    transform: translateX(-10vw);
  }
  to{
    transform: translateX(0);
  }
}
.UserNameDiv{
  font-size: 10pt;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: left;
}
.DateDiv{
  font-size: 10pt;
  margin-top: 5px;
  padding-top: 5px;
  text-align: right;
}