.Navi{
  height: 5vh;
  display: flex;
  background-color: #484c54;
  color: white;
  overflow: hidden;
}
.NaviButton{
  justify-self: center;
  border-radius: none;
  align-self: stretch;
  background-color: #313131;
  border: 1px white;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0.1%;
  margin-right: 0.1%;
  transition: 0.3s;
}
.NaviButton:hover{
  background-color: crimson;
}