.Navi{
  height: 5%;
  display: flex;
  background-color: #484c54;
  color: white;
}
.NaviButton{
  position: relative;
  border-radius: none;
  white-space: nowrap;
  height: 100%;
  margin: 0 10px 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #313131;
  border: 1px white;
  color: white;
}
.LeftAlign{
  display: flex;
  height: 100%;
  margin-right: auto;
}
.RightAlign{
  height: 100%;
  margin-left: auto;
}
.NaviButton:hover{
  transition: 0.3s;
  background-color: crimson;
}
.NaviButton:active{
  transition: 0.1s;
  background-color: darkorange;
}
.Connection{
  align-self: center;
  margin: 0 10px 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  line-height: 100%;
}
.Connected{
  background-color: green;
}
.Disconnected{
  background-color: red;
}