.SettingsWindow{
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 50%;
  padding: 10px 20px 10px 20px;
  transform: translate(-50%, -50%);
  border-radius: 5pt;
  color: white;
  background-color: #484C54;
  box-shadow: 2px 3px 5px #22222299;
  text-align: center;
}
h3{
  padding-bottom: 10pt;
  border-bottom: 1px solid #FFFFFF77;
}
.Wrapper{
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.Value{
  margin-left: auto;
  margin-right: 5%;
  max-width: 40%;
  font-weight: bold;
  border-bottom: solid 1px #FFFFFF66;
}
.SettingsInput{
  line-height: 15pt;
  border-radius: 5px;
  background-color: #00000000;
  border: 1px solid #FFFFFF77;
}
.DeleteButton{
  background-color: #00000000;
  padding: 10px 10px;
  font-size: 11pt;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
}
.DeleteButton:hover{
  transition: 0.3s;
  background-color: red;
}
.DeleteButton:active{
  transition: 0.1s;
  background-color: darkorange;
}
.ChangePwButton{
  background-color: #00000000;
  padding: 10px 10px;
  font-size: 11pt;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
}
.ChangePwButton:hover{
  transition: 0.3s;
  background-color: red;
}
.ChangePwButton:active{
  transition: 0.1s;
  background-color: darkorange;
}