.ToastBoard{
  position: absolute;
  z-index: 1100;
  top: 10vh;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0);
}
.Toast{
  margin: auto;
  max-width: min-content;
  background-color: #00000088;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  animation-name: show_toast;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes show_toast{
  from {
    width:0;
  }
  to{
    width: 100%;
  }
}